body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15pt;
    margin: 0px;
    padding: 0px;
    border-top: 0.1em #559 solid;
}

h1, h2 {
    font-weight: 100;
    letter-spacing: 0.5em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.center {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
#main {
    max-width: 30em;
}

#main p {
    text-indent: 2em;
}

#main p, ul, ol {
    line-height: 2em;
    margin-bottom: 1em;
}

#main a {
    text-decoration: none;
    color: #559;
}
#main a:visited {
    color: #559;
}
#main a:hover {
    text-decoration: underline;
    color: #259;
}

#main textarea {
    width: 100%;
    height: 20em;
    resize: none;
    margin-top: 5px;
    margin-bottom: 5px;

    font-family: menlo, monaco, monospace;
    font-size: 10pt;
    padding: 5px;

    border: none;
    border-left: solid 1px #aaa;
}
#main textarea:focus {
    outline: none;
}
