body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15pt;
    margin: 0px;
    padding: 0px;
    border-top: 0.1em #559 solid;
    border-bottom: 0.1em #559 solid;
}

h1 {
    font-size: 1.6em;
    font-weight: 100;
    letter-spacing: 0.5em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

#version {
    background: orange;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    width: 3.5em;
    height: 3.5em;
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
    letter-spacing: 0em;
}

h2 {
    margin-top: 4em;
}

.center {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}
#main {
    max-width: 35em;
}

#main p, ul, ol {
    line-height: 1.5em;
    margin-bottom: 1em;
}

#main li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul li {
    list-style: none;
    min-width: 10em;
}
ul li:before {
    display: inline-block;
    content: "\2014";
    margin-left: -1.5em;
    width: 1.5em;
}

#main a {
    color: #55a;
}
#main a:visited {
    color: #55a;
}
#main a:hover {
    color: #259;
}

#main textarea {
    width: 100%;
    height: 20em;
    resize: none;
    margin-top: 5px;
    margin-bottom: 5px;

    font-family: menlo, monaco, monospace;
    font-size: 10pt;
    padding: 5px;

    border: none;
    border-left: solid 1px #aaa;
}
#main textarea:focus {
    outline: none;
}

#main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
img + .caption {
    text-align: center;
    font-size: 0.7em;
    color: #aaa;
}

/*
#cy-viz {
    width: 100%;
}*/

#footer {
    margin-top: 10em;
    color: #aaa;
    font-size: 0.7em;
    padding: 5em;
}

code {
    overflow: scroll;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #559;
    color: white;
    text-shadow: 0em 0em 0.2em black;
}

pre code {
    display: block;
}


ol.tutorial {
    counter-reset: tutorial-counter;
}

ol.tutorial li {
    list-style: none;
}

ol.tutorial li:before {
    content: counter(tutorial-counter);
    counter-increment: tutorial-counter;

    font-weight: bold;
    border-radius: 50%;
    background-color: #559;
    width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: white;

    margin-left: -2em;

    position: relative;
    right: 1em;
}

input[type="text"] {
    border: none;
    font-family: monospace;
    font-size: 1em;
    color: #559;
}

input[type="text"]:focus {
    outline: none;
}
