name: Test

on: push

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest] # [ubuntu-latest, macos-latest, windows-latest]
        node-version: [12, 16]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - run: npm i
        env: 
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # no used
      - run: npm run test-no-tsdoc
